<div class="homeSearch" id="homeSearch">
  <div class="container">
    <div class="row" class="search">
      <div class="col-md-8 offset-md-2 text-center">
        <h1>Book your appointment</h1>
        <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)" autocomplete="off" novalidate>
          <div class="form-group">
            <input type="text" class="form-control searchField" formControlName="search" (input)="inputEnter();" (focus)="inputFocus();"
              placeholder="Search doctor by name/keyword">
          </div>
          <div class="form-group">
            <input type="text" class="form-control dateField" formControlName="date" (input)="inputEnter();" (focus)="inputFocus();"
              placeholder="Schedule date and time">
          </div>
          <button type="submit" id="submitBtn" class="btn btn-success" [disabled]="!searchForm.valid">
            <span *ngIf="isLoaded" class="requestLoader">
            </span>
            <span *ngIf="!isLoaded">
              Find your doctors
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div [@enterAnimation] class="statusText" id="statusText" *ngIf="statusText">
  <i class='fa fa-info-circle fa-3x' aria-hidden='true'></i>
  Sorry, we couldn't find any results matching "<strong>{{searchForm.value.search}}</strong>"
</div>
<div class="searchResults" id="searchResults" *ngIf="searchResult.medicalCentreList && searchResult.medicalCentreList.length > 0">
  <div class="row">
    <div class="col-md-10 offset-md-1 text-left">
      <h4>Search results for available appointments</h4>
      <ul [@enterAnimation] class="searchList">
        <li *ngFor="let item of searchResult.medicalCentreList;let idx=index;">
          <div class="row">
            <div class="col-md-1 index listItem">{{idx+1}}</div>
            <div class="col-md-2 name listItem">Dr. {{item.medCentreDept.doctor.doctorName}}</div>
            <div class="col-md-2 specialized listItem">{{item.medCentreDept.departmentName}}</div>
            <div class="col-md-3 time listItem">{{item.medCentreName}}</div>
            <div class="col-md-2 time listItem">time: 7.00 - 18.00</div>
            <div class="col-md-2 book listItem">
              <button type="button" class="book_appointment" class="btn btn-success">Book appointment</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>